<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StayScape</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Stayscape</h1>
    <div class="container"> <%- body %> </div><!--ejs-Mate the body changes title same-->
</body>
</html>